
body{
    background: rgb(255,255,255);

}
#content{
    max-width: 1367px;
    margin: auto;


    -webkit-box-shadow: 0px 0px 56px 9px rgba(168,156,168,0.54);
    -moz-box-shadow: 0px 0px 56px 9px rgba(168,156,168,0.54);
    box-shadow: 0px 0px 56px 9px rgba(168,156,168,0.54);
}
.topheader{
    height: 110px;
    background-color: #31373c;
    top:0px;

}

.logo{
    float: right;
    display: inline;
    margin-top: 18px;
    margin-right:20px;
}
.citylogo{

    display: inline;
    margin-right: 70px;


}
.parklogo{

    display: inline;

}


.NavMenuBar{
    height: 54px;
    background: #42484f;
    padding: 0px;
    padding-top: 15px;
    width: 100%;
    margin: auto;

}


/*.NavMenuBar>ul{
    float: right;
    margin-right: 15px;

}*/
.NavMenuBar>ul li{
    display: inline;

}

.NavMenuBar>ul li a {

    font-size: 14px;
    font-family: "Museo-Sans";

    text-transform: uppercase;
    text-decoration: none;
}


.NavMenuBar>ul li a.menu-link{
    color: rgb(255, 255, 255);
    padding-right:10px;
    padding-left:10px;
    border-right: 1px solid white;
}
.NavMenuBar>ul li a.menu-link:hover{
    color:gray;
}

.NavMenuBar>ul li a.menu-link-extra{

    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding-left:10px;
    color:#dfb625;
}

.NavMenuBar>ul li a.menu-link-extra:hover{

    color:#ae8f23;
}

.NavMenuBar-7{
    height: 54px;
    background-color: #42484f;
    padding:0px;
    padding-bottom: 10px;

    width: 100%;


}
.NavMenuBar-7 ul{
    padding-top: 10px;
    display: block;
    width:990px;
    float: none!important;
    margin: auto;

}

.top-subscribebar-panel{
    height: 73px;
    width: 100%;
    background-color: #dee1e3;
    border-top:2px solid #868b8f;
    padding-top: 15px;

}

.top-subscribebar{
    float: right;
    width: 420px;
    display: inline;
    height: 73px;
}

.bottom-subscribebar-panel{
    height: 150px;
    width: 100%;
    background-color: #dee1e3;
    padding-top: 35px;
    margin-top: 70px;

}

.bottom-subscribebar{

    width: 600px;
    margin: auto;
}

.btncontainer{
    display: inline;
}

.btncontainer .signupbtn{

    display: inline;
    height: 35px;
    width: 208px;
    font-size: 25px;
    background: #6fbd44;
    font-family: "League-Gothic";
    padding: 5px 10px 5px 10px;
    margin: auto;


}




.btncontainer .signupbtn span{

    font-size: 20px;
    font-family: "League-Gothic";
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: rgb(242, 249, 252);
    text-transform: uppercase;


}

.btncontainer .newsletterbtn{

    position: relative;
    left: 5px;
    display: inline;
    height: 35px;
    width: 250px;
    font-size: 25px;
    background: #31373c;
    font-family: "League-Gothic";
    padding: 5px 10px 5px 10px;
    margin: auto;


}

.btncontainer .newsletterbtn span{

    font-size: 20px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-family: "League-Gothic";
    color: rgb(242, 249, 252);
    text-transform: uppercase;


}

.subscribe-form{
    position:relative;
    top:-3px;
    display: inline;
    margin-left: 2px;

}




.subscribe-form form input[type=text] {

    position: relative;

    height: 40px;
    border-top: 2px solid #5c6266;
    border-bottom: 2px solid #5c6266;
    border-left: 2px solid #31373c;
    border-right: 2px solid #d3d6d9;

    width: 160px;
    background: #dee1e3;
    text-transform: uppercase;
    padding:5px;
    font-size: 15px;


}

.subscribe-form form.news-letter-form input[type=email] {

    position: relative;

    height: 40px;
    border-top: 2px solid #5c6266;
    border-bottom: 2px solid #5c6266;
    border-left: 2px solid #31373c;
    border-right: 2px solid #d3d6d9;

    width: 160px;
    background: #dee1e3;
    text-transform: uppercase;
    padding:5px;
    font-size: 15px;


}



.subscribe-form form.news-letter-form input[type=submit] {

    position: relative;
    top: -55px;
    left: 161px;
    height: 41px;
    display: inline;
    margin-left: 0px;
    border: none;
    width: 80px;
    border-radius: none;
    background: #a8a8a8;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Museo-Sans";
    color: rgb(68, 76, 84);


}
form.news-letter-form{
    display: inline;
    position: relative;
    left: 165px;
    top: -52px;
}

form.news-letter-form input[type=submit]{
    position: relative;
    top: -55px;
    left: 173px;
    height: 41px;
    display: inline;
    margin-left: -12px;
    border: none;
    width: 80px;
    border-radius: none;
    background: #a8a8a8;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Museo-Sans";
    color: rgb(68, 76, 84);
}


.TwoColLayout{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-desc p{
    margin-left: 45px;
    font-size: 19px;
    font-family: "Helvetica Neue";
    color: rgb(78, 83, 92);
    line-height: 1.421;
}
.FourColLayout{

    background-color: #6fbd44;
    padding:10px;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 30px;

}


.FourColLayout .header{
    color:white;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    font-size: 22px;
    font-family: "Museo-Sans";
    color: rgb(255, 255, 255);

}

.FourColLayout .divider{

    border-top:1px solid white;
    width:80%;

}

.FourColLayout .description{
    font-size: 19px;
    font-family: "Helvetica Neue";
    color: rgb(255, 255, 255);

}

.rec-park-search-form form input[type=text] {

    position: relative;
    left:-10px;
    margin-top: 20px;
    height: 35px;
    width: 60%;
    background: #dee1e3;
    padding:5px;
    font-size: 15px;
    border: none;

}





.rec-park-search-form form input[type=submit] {

    position: relative;
    top:-1px;
    margin-top: 18px;
    left:-15px;
    height: 36px;
    width: 90px;
    background: #4a7c29;
    padding:2px;
    font-size: 15px;


    font-family: "Museo-Sans";
    color: rgb(222, 225, 227);

}

.loc-activities-search-form form select {

    position: relative;
    left:-10px;

    margin-top: 20px;
    height: 35px;
    width: 100%;
    background: #dee1e3;
    padding:5px;
    font-size: 15px;
    border: none;

}


.center{
    margin: auto;
    width: 669px;
    padding: 0px;

}

.menu-center{
    margin: auto;
    width: 950px;
}


.footer .subscribebar{
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer .subscribebar .center .btn-container {
    display: inline;
}




.btn-container img{
    display: inline;
}
.footer-panel{
    background-color: #31373c;
    padding:10px;

    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.copy-right-statement{
    font-size: 17px;
    font-family: "Helvetica Neue";
    color: rgb(222, 225, 227);
    line-height: 1.421;
    position: absolute;
    top: 306px;
}
.footer-appeal{

    position: absolute;
    left: 216px;
    top: 40px;



}
.footer-appeal h2{
    font-size: 50px;
    font-family: "League-Gothic";
    color: rgb(223, 182, 37);
    font-style: italic;
    line-height: 1.421;
    -moz-transform: matrix( 2.675,0,0,2.08333333333333,0,0);
    -webkit-transform: matrix( 2.675,0,0,2.08333333333333,0,0);
    -ms-transform: matrix( 2.675,0,0,2.08333333333333,0,0);

}
.footer-appeal h2.line1{


}
.footer-appeal h2.line2{
    position: relative;
    left: 48px;

}


.lblContact{
    color:#6fbd44;
    text-transform: uppercase;
    font-size: 20pt;
    padding: 10px;
    padding-top: 10px;
    font-weight: 500;
    font-style: normal;

}

.contact-form input[type=text] {

    height: 50px;
    display: block;
    margin-left: 0px;
    border-top:2px solid;
    width: 100%;
    margin-bottom: 10px;
    background: #545556;
    border: none;
    padding: 10px;
    font-size: 25px;

}
.contact-form input[type=email] {

    height: 50px;
    display: block;
    margin-left: 0px;
    border-top:2px solid;
    width: 100%;
    margin-bottom: 10px;
    background: #545556;
    border: none;
    padding: 10px;
    font-size: 25px;

}

.contact-form input[type=submit] {

    height: 55px;
    margin-top: 10px;
    display: block;
    float: right;
    margin-left: 0px;
    border-top:2px solid;
    width: 40%;
    margin-bottom: 10px;
    background: #6fbd44;
    border: none;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Museo-Sans";
    color: rgb(49, 55, 60);


}

.contact-form textarea {

    height: 200px;
    display: block;
    margin-left: 0px;
    border:none;
    background: #545556;
    width: 100%;
    font-size: 25px;
    padding: 10px;


}

.confirm-msg{

    margin-top:50px;
    margin-left:50px;
}
/** Sub page CSS */

/**image carouse css*/

.caurosel-control-wrapper{

    display: inline;
    position: relative;
    top: -128px;
    left: 1150px;
}



.carousel-control.left {

    position: absolute;
    top: 460px;
    left: 950px;
    background-image: none;

}

.carousel-control.right {

    position: absolute;
    top: 450px;
    left: 1050px;
    background-image: none;

}

.glyphicon.glyphicon-chevron-left{
    font-size: 4.5em;
    color: #d2c7c7;
}

.glyphicon.glyphicon-chevron-right{
    font-size: 4.5em;
    color: #d2c7c7;
}
.image-carousel-panel{


}
.item{

    background: #fff;
    text-align: center;
    height: 759px !important;
    padding-top: 0px;
    margin-top: 0px;
}

.carousel-inner{
    position: relative;
    top:-37px;
    height: 759px !important;


}




.carousel-indicators{
    position: relative;
    left:170px;
    top:640px;
}


.carousel-indicators li {
    height: 20px;
    width: 20px;
    margin-right:10px;


}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
    margin-right:10px;
    background-color: whitesmoke;

}



#imageCarousel{
    height: 759px !important;

}




.slide-title{
    position: absolute;
    top: 0px;
    height: 76px;
    width: 100%;
    text-align: left;
    background: rgba(68, 95, 91, 0.8);
    padding-top: 18px;
    padding-left: 49px;




}

.slide-title  span{
    font-size: 31px;
    font-family: "museo-sans", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;


}

.slide-overlay-caption{
    position: absolute;
    top:120px;
    left:0px;
    width: 488px;
    height: 200px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.9);

}

/* select the first ovel caption for different background color */
div.carousel-inner:nth-of-type(1)>:nth-child(1)>div:nth-child(3){

    background-color: rgba(233,233,233,0.9);



}

.slide-overlay-caption .campaign-logo{
    position: relative;
    top: 28px;
    left: 0px;
    display: inline;
    width: 488px;
}

.campaign-logo .campaign-logo-left {

    display: inline;
    padding-left: 20px;
    position: relative;
    left: -127px;
    top: -4px;


}

.campaign-logo .campaign-logo-right{

    position: relative;
    display: inline;
    left: 60px;
    top: -157px;


}
.campaign-logo .campaign-logo-right h3.head-l1{

    position: relative;
    left: 0px;
    font-size: 26px;
    font-family: "League-Gothic";
    color: rgb(111, 189, 68);
    font-style: italic;

    -moz-transform: scale(1.284, 1);
    -webkit-transform: scale(1.284, 1);
    -ms-transform: scale(1.284, 1);
    margin-left: 0px;

}


.campaign-logo .campaign-logo-right h4.head-l2{

    position: relative;
    left: 19px;
    top: -9px;
    font-size: 30px;
    font-family: "Museo-Sans";
    color: rgb(99, 102, 103);
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;


}



.campaign-logo .campaign-logo-right h5.head-l3{
    position: relative;
    top: -18px;
    left: -3px;
    font-size: 20.699px;
    font-family: "Museo-Sans";
    color: rgb(78, 83, 92);
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;

}


.campaign-logo .campaign-logo-right p.tagline{
    font-size: 5px;
    font-family: "Museo-Sans";
    -moz-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -webkit-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -ms-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    position: relative;
    left: 48px;
    top: -21px;
    font-weight: 500;
    font-style: italic;

}
.campaign-logo .campaign-logo-right p.tagline .sec1{

    color: rgb(111, 189, 68);

}

.campaign-logo .campaign-logo-right p.tagline .sec2{

}

.slide-overlay-caption .overlay-section-bottom{
    position: absolute;
    top: 200px;
    left: 0px;
    background-color: rgba(255,255,255,0.9);
    width: 488px;
    padding-left: 60px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: inline;
    text-align: left;
}

.slide-overlay-caption .overlay-section-bottom p.slide-description{
    position: relative;
    font-size: 15px;
    font-family: "Museo-Sans";
    color: rgb(111, 189, 68);


    -moz-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -webkit-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -ms-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);

    font-weight: 500;
    font-style: normal;
    display: inline;




}

.CC__Jackson_Fitness_and_Wellness_Center_—_The_n {
    font-size: 15px;
    font-family: "Museo Sans";
    color: rgb(111, 189, 68);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -webkit-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    -ms-transform: matrix( 2.08333333333333,0,0,2.08333333333333,0,0);
    position: absolute;
    left: 313.343px;
    top: 1308.286px;
    width: 391.014px;
    height: 156.803px;
    z-index: 32;
}



.page-title{
    position: absolute;
    display: inline;
    height:76px;
    width: 100%;
    max-width: 1320px;;

    background: rgba(68, 95, 91, 0.8);



    margin-top: 15px;
    padding-top: 10px;
    top:223px;
    z-index: 2000!important;
}



.page-title span{
    font-size: 31px;
    font-family: "museo-sans", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    margin-left: 54px;
}


.ques-logo-container{
    width: 150px;
    margin: auto;
}
.ques-circle {

    width: 150px;
    height: 150px;
    background: #6fbd44;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 75px;


}

.ques-circle span{
    position: relative;
    top:2px;
    left:48px;
    display: inline-block;
    font-size: 110px;
    font-family: "Museo-Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);

}


.question-ans-left-panel .header {
    font-size: 22px;
    font-family: "Museo-Sans";
    color: rgb(111, 189, 68);
}

.question-ans-left-panel .divider {
    border-top: 2px solid rgb(111, 189, 68);
    width: 70%

}

.question-ans-right-panel{
    margin-top: 180px;
    padding-left: 50px;
}
.Q-logo-container{
    display: inline;

}

.Q-gray-circle{
    width: 120px;
    height: 120px;
    background: #dee1e3 ;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 60px;
}
.Q-gray-circle span{
    position: relative;
    top:8px;
    left:31px;
    display: inline-block;
    font-size: 75px;
    font-family: "Museo-Sans";
    font-weight: bold;
    color: #6fbd44;

}


.A-green-circle{
    width: 80px;
    height: 80px;
    background: #6fbd44 ;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 40px;
}


.A-green-circle span{
    position: relative;
    top:2px;
    left:22px;
    display: inline-block;
    font-size: 55px;
    font-family: "Museo-Sans";
    color: rgb(222, 225, 227);
    font-weight: bold;
    color: #dee1e3;

}
.question{
    margin-top: 15px;
}

.question span {
    font-size: 19px;
    font-family: "Helvetica Neue";
    color: rgb(66, 72, 79);
}

.answer{
    margin-top: 15px;
    margin-bottom: 20px;
}
.answer span {
    font-size: 19px;
    font-family: "Helvetica Neue";
    color: rgb(66, 72, 79);
}

.answer-container{

    margin-left: 40px;
    margin-top: 30px;
}
